@media screen and (max-width: 991px) {
    .proj-tagline {
        margin-bottom: 0;
    }
}

.ui.header.proj-title {
    margin-bottom: 0;
}

.proj-tagline {
    font-weight: bold;
    font-size: 110%;
}

.proj-content hr {
    border-color: rgba(0, 0, 0, 0.07);
    border-width: 1px;
}

.ui.grid.proj-item {
    margin-top: 5%;
    margin-bottom: 5%;
}

.ui.grid.proj-item:nth-child(2) {
    margin-top: 0;
}

.proj-links.right-substitute {
    margin-top: 0;
}

.proj-links.right-substitute p.proj-link {
    display: inline;
}

.proj-links-bullet {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.proj-link a {
    font-size: 115%;
    font-weight: 600;
}

.proj-link a:hover {
    text-decoration: underline;
}