#backToTop {
    position: fixed;
    bottom: 0px;
    right: 0px;
}

#backToTop:focus {
    background-color: rgb(243, 20, 85);
    color: white;
}

#backToTop:focus:hover {
    background-color: rgba(223, 0, 65);
    color: white;
}