#backToTop {
    position: fixed;
    bottom: 0px;
    right: 0px;
}

#backToTop:focus {
    background-color: rgb(28, 69, 183);
    color: white;
}

#backToTop:focus:hover {
    background-color: rgb(8, 49, 163);
}