/* SIDEBAR */
.intro-panel {
    text-align: center;
}

.social-header {
    font-weight: bold;
    margin-bottom: 0.1em;
}

.social-link-content {
    font-size: 115%;
    font-weight: 600;
}

.social-link-content a:hover {
    text-decoration: underline;
}