.responsive-player-container {
    position: relative;
    padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
    box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.35);
}

.responsive-player {
    position: absolute;
    top: 0;
    left: 0;
}