/* WHOLE SITE */

.screenreader {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal;
}

body {
    background-color: #f0f0f0;
}

/* SIDEBAR */

.intro-panel {
    text-align: center;
}

.social-header {
    font-weight: bold;
    margin-bottom: 0.1em;
}

.social-link-content {
    font-size: 125%;
}

.social-link-content a:hover {
    text-decoration: underline;
}

/* MAIN CONTENT */
.ui.pointing.secondary.menu .item {
    transition: color 0.2s, border-color 0.2s;
}
.ui.pointing.secondary.menu .red.active.item, .ui.pointing.secondary.menu .red.item:hover {
    color: #f31455 !important;
    border-color: #f31455 !important;
}
.ui.pointing.secondary.menu .purple.active.item, .ui.pointing.secondary.menu .purple.item:hover {
    color: #8334ff !important;
    border-color: #8334ff !important;
}
.ui.pointing.secondary.menu .blue.active.item, .ui.pointing.secondary.menu .blue.item:hover {
    color: #1c45b7 !important;
    border-color: #1c45b7 !important;
}

.main-content-section {
    margin-top: 5%;
    margin-bottom: 5%;
}

.resume-content hr {
    border-color: rgba(0, 0, 0, 0.07);
    border-width: 1px;
}

.topic-cell {
    text-align: center;
}

.ui.header.school-name, .edu-duration, .ui.header.employer-name, .ui.header.pres-title {
    margin-bottom: 0;
}

.edu-program, .exp-program, .pres-organization {
    font-weight: bold;
    font-size: 110%;
}

.ui.header.honor-name, .ui.header.title-name {
    margin-bottom: 0;
    font-size: 90%;

}

.edu-honor-awarded-by {
    font-style: italic;
}

.title-bullets {
    margin: 0;
}

.exp-bullets li, .title-bullets li {
    margin-bottom: 1em;
}

.ui.grid.exp-title {
    margin-top: 0;
}

.ui.grid.exp-title div.wide.column {
    padding-top: 0;
}

.responsive-player-container {
    position: relative;
    padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
}

.responsive-player {
    position: absolute;
    top: 0;
    left: 0;
}

.pres-content hr {
    border-color: rgba(0, 0, 0, 0.07);
    border-width: 1px;
}

.ui.grid.pres-item {
    margin-top: 5%;
    margin-bottom: 5%;
}