.screenreader {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal;
}

.social-header {
    font-weight: bold;
    font-size: small;
    margin-bottom: 0.1em;
}

body {
    background-color: #f0f0f0;
}

a:hover {

}