/* WHOLE SITE */

.screenreader {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal;
}

body {
    background-color: #f0f0f0;
}

/* SIDEBAR */

.intro-panel {
    text-align: center;
}

.social-header {
    font-weight: bold;
    margin-bottom: 0.1em;
}

.social-link-content {
    font-size: 125%;
}

.social-link-content a:hover {
    text-decoration: underline;
}

/* MAIN CONTENT */

.main-content-section {
    margin-top: 5%;
    margin-bottom: 5%;
}

.topic-cell {
    text-align: center;
}

.ui.header.school-name, .edu-duration {
    margin-bottom: 0;
}

.edu-program {
    font-weight: bold;
}