.resume-content hr {
    border-color: rgba(0, 0, 0, 0.07);
    border-width: 1px;
}

@media screen and (max-width: 991px) {
    #askmeabout .grid {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .edu-program {
        margin-bottom: 0;
    }
}

.topic-cell {
    text-align: center;
}

.ui.header.school-name, .edu-duration, .ui.header.employer-name, .ui.header.lead-org {
    margin-bottom: 0;
}

.edu-program, .exp-program, .lead-role {
    font-weight: bold;
    font-size: 110%;
}

.ui.header.honor-name, .ui.header.title-name {
    margin-bottom: 0;
    font-size: 90%;

}

.edu-honor-awarded-by {
    font-style: italic;
}

.title-bullets {
    margin: 0;
}

.exp-bullets li, .title-bullets li {
    margin-bottom: 1em;
}

.ui.grid.exp-title {
    margin-top: 0;
}

.ui.grid.exp-title div.wide.column {
    padding-top: 0;
}

li.lead-bullets {
    margin-bottom: 1em;
}

.computer.only .duration {
    font-style: italic;
}

.computer.only .edu-grade {
    font-style: italic;
}

.right-substitute .duration {
    font-style: italic;
    font-weight: normal;
}

.right-substitute.edu-right-sub {
    font-style: italic;
    font-weight: normal;
    margin-top: 0;
}